@using BTCPayServer.Client
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BTCPayServer.Abstractions.Contracts
@model WalletWasabi.Backend.Controllers.DiscoveredCoordinator
@inject IScopeProvider ScopeProvider
<form asp-action="AddCoordinator" asp-controller="WabisabiStore" method="post" class="card  mt-3" asp-route-storeId="@ScopeProvider.GetCurrentStoreId()" permission="@Policies.CanModifyServerSettings">
    <input type="hidden" asp-for="Description"/>
    <input type="hidden" asp-for="Name"/>
    <input type="hidden" asp-for="Uri"/>
    <div class="card-header d-flex justify-content-between">
        <div>
            <div class="d-flex">

                <h3>@Model.Name</h3>

            </div>

            <span class="text-muted">@Model.Uri</span>
            <p>@Model.Description</p>
        </div>
        <div class="form-group form-check">
            <button name="command" type="submit" class="btn btn-primary btn-lg">Add</button>
        </div>
    </div>


</form>