@using BTCPayServer.Services
@using BTCPayServer.Plugins.Stripe.PaymentHandler
@using BTCPayServer.Services.Invoices
@inject DisplayFormatter DisplayFormatter
@inject PaymentMethodHandlerDictionary handlers
@model BTCPayServer.Models.InvoicingModels.InvoiceDetailsModel

@{
    var payments = Model
        .Payments
        .Select(payment =>
        {
            if (handlers.TryGet(payment.PaymentMethodId) is not StripePaymentMethodHandler handler)
                return null;

            return handler.ParsePaymentDetails(payment.Details) as StripePaymentData;
        })
        .Where(model => model != null)
        .ToList();
}

@if (payments.Any())
{
    <section>
        <h5>Stripe Payments</h5>
        <div class="invoice-payments table-responsive mt-0">
            <table class="table table-hover mb-0">
                <thead>
                <tr>
                    <th class="w-175px">Intent Id</th>
                    <th class="w-175px">Charge Id</th>
                    <th class="text-nowrap">Type</th>
                    <th class="w-100px">Last 4</th>
                    <th class="w-150px text-end">Paid</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var payment in payments)
                {
                    <tr>
                        <td>
                            <vc:truncate-center text="@payment.PaymentIntentId" classes="truncate-center-id"/>
                        </td>
                        <td>
                            <vc:truncate-center text="@payment.ChargeId" classes="truncate-center-id"/>
                        </td>
                        <td>
                            <span>@payment.PaymentMethodType @(string.IsNullOrEmpty(payment.Brand) ? payment.Brand : "")</span>
                        </td>
                        <td>
                            <vc:truncate-center text="@payment.Last4" classes="truncate-center-id"/>
                        </td>
                        <td class="payment-value text-end text-nowrap">
                            <span data-sensitive
                                  class="text-success">@DisplayFormatter.Currency(payment.AmountReceived, payment.Currency)</span>
                        </td>
                    </tr>
                }
                </tbody>
            </table>

        </div>
    </section>
}
