@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Payments
@using BTCPayServer.PayoutProcessors
@using BTCPayServer.Payouts
@using BTCPayServer.Plugins.Prism
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Routing
@inject LinkGenerator LinkGenerator
@inject IScopeProvider ScopeProvider
@inject IHttpContextAccessor HttpContextAccessor
@inject PayoutProcessorService PayoutProcessorService
@inject IEnumerable<IPayoutProcessorFactory> PayoutProcessorFactories
@model AutoTransferSettings
@{
    ViewData.SetActivePage(PrismPluginNavPages.AutoTransfer, "Scheduled Store Transfers");
    var storeId = ScopeProvider.GetCurrentStoreId();
}

<div class="sticky-header">
    <h2>
        <span>@ViewData["Title"]</span>
    </h2>
    <div class="d-flex gap-3 mt-3 mt-sm-0">
        <a asp-controller="AutoTransfer" asp-action="Index" asp-route-storeId="@storeId" class="btn btn-secondary" role="button">Go Back</a>
        <a asp-controller="AutoTransfer" asp-action="ViewScheduledAutoTransfer" asp-route-storeId="@storeId" class="btn btn-primary" role="button">Create a schedule</a>
    </div>
</div>

<partial name="_StatusMessage" />

@if (Model.ScheduledDestinations.Any())
{
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th scope="col">Batch ID</th>
                    <th scope="col">Number of Stores</th>
                    <th class="w-75px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var destination in Model.ScheduledDestinations)
                {
                    var batchId = destination.Key;
                    var destinationDetails = destination.Value;
                    <tr>
                        <td>@batchId</td>
                        <td>@destinationDetails.Count()</td>
                        <td class="text-end">
                            <div class="d-inline-flex align-items-center gap-3">
                                <a asp-action="ViewScheduledAutoTransfer" asp-controller="AutoTransfer" asp-route-storeId="@storeId" asp-route-batchId="@batchId">Edit</a>
                                <a asp-action="DeletePrismDestination" asp-controller="AutoTransfer" asp-route-storeId="@storeId" asp-route-batchId="@batchId" class="text-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p colspan="4" class="text-muted py-4">
        No pending payouts found
    </p>
}